* {
    max-width: 1300px;
    margin: auto;
}

body {
    background-image: url(../assets/img/fondomoviesinopsis.png);
    background-size: 100vh;
    background-repeat: repeat;
}

header#header {
    padding: 0;
    background: rgb(255, 255, 255);
    min-height: 100px;
    box-sizing: border-box;
}

#inner-header, #inner-content, #inner-footer, .inner-content {
    max-width: max-content;
    margin: auto;
}

.bar-lightblue {
    border-bottom: 8px solid rgb(171, 225, 250);
}

/* Centrar nav */

header#header nav {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    display: block;
    margin-top: 27px;
    position: relative;
}

/* Coloca logo al costado del nav */

header#header #logo {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding-left: 12.5px;
    padding-right: 12.5px;
    margin: 0;
    padding-top: 10px;
}

/* Poner en horizontal */

ul#menu-top-tabs > li {
    display: block;
    position: relative;
    float: left;
    width: inherit;
}


input[type="search"] {
    height: 32px;
    font-size: .8em;
    width: 58%;
    float: left;
    border-radius: 3px;
    transition: .4s all ease;
}


input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select, textarea, .field {
    font-size: initial;
    margin-top: 5px;
    line-height: 1em;
    padding: 0 10px;
    border-radius: 3px;
    border: 0;
    width: 100%;
    max-width: 400px;
    font-family: 'Dosis', sans-serif;
    background-color: #eaedf2;
    box-sizing: border-box;
    -webkit-transition: background-color 0.24s ease-in-out;
    transition: background-color 0.24s ease-in-out;
}


ul#menu-top-tabs > li > a {
    color: #6D6E70;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    text-align: left;
    width: 100%;
    border-left: #DADBDC 2px solid;
}

ul#menu-top-tabs > li:first-child > a {
    border-left: none;
}

ul#menu-top-tabs > li:nth-last-child(2) > a {
    border-left: none;
}

ul#menu-top-tabs > li:nth-last-child(3) > a {
    border-left: none;
}

ul#menu-top-tabs > li:nth-last-child(4) > a {
    border-left: none;
}

ul#menu-top-tabs > li:last-child > a {
    border-left: none;
}

i.fa {
    padding-right: 5px;
}

ul#menu-top-tabs > li > a.fb{
    min-width: 5px;
}

ul#menu-top-tabs > li > a.twitter{
    min-width: 5px;
}

.btn-primary {
    color: #fff;
    border: lightseagreen;
    margin: 5px 5px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    width: 80px;
}

li .inicio{
    margin-left: 20px;
}

/* Fin Navbar */

/* carrusel */


.carrusel-content img{
    width: 100%;
    height: auto;

}

.carrusel-content {
    display: none;

}

.carrusel-content.active {
    display: block;
}

.control {
    width: 15px;
    height: 15px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 50%;
}

.previous, .next {
    color: white;
    margin: 10px 30px;
    text-decoration: none;
}

.control:hover, .previous:hover, .next:hover {
    background: #4db6ac;
    border: 1px solid #4db6ac;
}

.controles{
    display: flex;
    justify-content: center;
}

/* Segunda Sección */

.inputs{
    background: darkturquoise;
    height: 42px;
}

.filtro {
    display: flex;
    justify-content: center;
}

.filtro ul li {
    display: block;
    position: relative;
    float: left;
    width: inherit;
    margin-left: 10px;
}

.filtro input {
    width: 250px;
}

/* Los más vistos */

.titulos {
    background-color: darkmagenta;
    height: 40px;
    margin: auto;
    padding-top: 5px;
}

.titulos h5 {
    color: white;
    margin: 0;
    padding-left: 5%;
    padding-top: 10px;
    font-weight: bold;
}

.titulo .vistos{
    display: flex;
    width: 100%;
    margin: 0;
    padding-left: 20%;
    padding-top: 5px;
}

/* Seccion video */



.videostop{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-count: 3;
    justify-content: space-around;
}

.video{
    background-color: cadetblue;
    height: 400px;
    width: 250px;
    margin: 5px;
}

.video1{
    background-image: url(../assets/cartelera/jefe.jpg);
    background-size: 100% 100%;
}

.video2{
    background-image: url(../assets/cartelera/rio.jpg);
    background-size: 100% 100%;
}

.video3{
    background-image: url(../assets/cartelera/coco.jpg);
    background-size: 100% 100%;
}

.video4{
    background-image: url(../assets/cartelera/calzoncillo.jpg);
    background-size: 100% 100%;
}

.video5{
    background-image: url(../assets/cartelera/frozen.jpg);
    background-size: 100% 100%;
}
.video6{
    background-image: url(../assets/cartelera/dory.jpg);
    background-size: 100% 100%;
}

.video7{
    background-image: url(../assets/cartelera/moanac.jpg);
    background-size: 100% 100%;
}

.video8{
    background-image: url(../assets/cartelera/monster.jpg);
    background-size: 100% 100%;
}

.video9{
    display: none;
}

@media (max-width: 1200px) {

.video9{
    display:block;
    background-image: url(../assets/cartelera/minion.jpg);
    background-size: 100% 100%;
    }
}



/* Footer */

footer {
    background: #39BFCD;
    overflow: hidden;
    clear: both;
    padding: 2em 0;
    box-sizing: border-box;
}

footer .footer-nav-section h6 {
    color: #C0E7FA;
    font-size: 1em;
}

nav.containernav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-nav-section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.footer-nav-section li{
    list-style: none;
}

.footer-nav-section ul{
    padding: 0;
}