/* Paletas de colores
  #ffaa00 ---> orange
  #ff7baa ---> hotpink
  #0ec1c2 ---> darkturquoise (intenso)
  #434288 ---> darkslateblue
  #fa488c ---> hotpink (intenso)
  #fe4212 ---> orangered
  #20c9f3 ---> deepskyblue
  #82dff8 ---> lightskyblue
  #65a8d8 ---> cornflowerblue
  #1ac9e5 ---> darkturquoise
  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img[alt="logo-nav"]{
  height: 15vh;
  width: 30vw;
}

@media screen and (min-width:992px){
  /* logo navbar */
  img[alt="logo-nav"]{
    height: 8vh;
    width: 9vw;
  }
}
