<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MovieKids</title>
  <!-- Logo en browser tab -->
  <link rel="shortcut icon" href="../assets/img/tab-logo.png">
  <!-- Framework bootstrap enlazado -->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <!-- link de los iconos -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Dosis|Montserrat|Roboto" rel="stylesheet">
  <!-- Iconos -->
  <script src="https://use.fontawesome.com/99316d922f.js"></script>
  <!-- Hoja de estilo CSS enlazada -->
  <link rel="stylesheet" href="../css/home.css">
</head>

<body>

  <header id="header" class="bar-lightblue">
    <div id="inner-header" class="group">
      <p id="logo" class="h1">
        <a href="#" rel="nofollow">
          <img src="../assets/img/logo.png" width="100">
        </a>
      </p>
      <!-- <div class="nav-icon">
        <div class="c-hamburger c-hamburger--htx">
          <span>MENU</span>
        </div> -->

      <nav class="mainNav">
        <ul id="menu-top-tabs" class="nav top-nav group">
          <li class="menu">
            <a href="#">
              <i class="fa fa-film" aria-hidden="true" style="color:darkviolet"></i>Películas</a>
          </li>
          <li class="menu">
            <a href="#">
              <i class="fa fa-television" aria-hidden="true" style="color:royalblue"></i>Series</a>
          </li>
          <li class="menu">
            <a href="#">
              <i class="fa fa-star" aria-hidden="true" style="color:red"></i>Estrenos</a>
          </li>
          <li class="menu">
            <a href="#">
              <i class="fa fa-pencil" aria-hidden="true" style="color:darkorange"></i>Recomendaciones</a>
          </li>
          <li>
            <form role="search" method="get" id="searchform" class="searchform" action="#">
              <div>
                <input type="search" id="s" name="s" value="" placeholder="Search">
              </div>
            </form>
          </li>
          <li class="menu">
            <button type="button" class="btn btn-primary btn-sm inicio" style="background-color:lightseagreen">Inicia Sesión</button>
          </li>
          <li class="menu">
            <button type="button" class="btn btn-primary btn-sm" style="background-color:blueviolet">Únete</button>
          </li>
          <li>
            <a href="#" class="fb" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true" style="color:steelblue"></i>
            </a>
          </li>
          <li>
            <a href="#" class="twitter" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true" style="color:deepskyblue"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>



  <section>
    <div class="carrusel bar-lightblue">
      <div data-slide="0" class="carrusel-content active">
        <img src="../assets/img/moana.jpg" alt="img1">
      </div>
      <div data-slide="1" class="carrusel-content">
        <img src="../assets/img/coco.jpg" alt="img2">
      </div>
      <div data-slide="2" class="carrusel-content">
        <img src="../assets/img/rio.jpg" alt="img3">
      </div>
      <div data-slide="3" class="carrusel-content">
        <img src="../assets/img/nemo.jpg" alt="img4">
      </div>
      <div class="controles">
        <a href="#" class="previous active">&lt;</a>
        <button data-target="0" class="control" type="button"></button>
        <button data-target="1" class="control" type="button"></button>
        <button data-target="2" class="control" type="button"></button>
        <button data-target="3" class="control" type="button"></button>
        <a href="#" class="next">&gt;</a>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid inputs">
      <div class="row">
        <div class="col-xs-12 filtro">
          <ul>
            <li>
              <form role="search" method="get" id="searchform" class="searchform" action="#">
                <div>
                  <input type="search" id="s" name="s" value="" placeholder="Search">
                </div>
              </form>
            </li>
            <li>
              <div id="toolbar">
                <select class="form-control">
                  <option value="disney">Disney</option>
                  <option value="Pixar">Pixar</option>
                  <option value="dream">DreamWorks</option>
                  <option value="warner">Warner Bross</option>
                  <option value="ghibli">Ghibli</option>
                </select>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="titulos">
      <div class="vistos">
      <h5>Los más vistos</h5>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid container-video">
      <div class="row">
        <div class="col-xs-12 videostop">
          <div class="video video1">
          </div>
          <div class="video video2"></div>
          <div class="video video3"></div>
          <div class="video video4"></div>
          <div class="video video5"></div>
          <div class="video video6"></div>
          <div class="video video7"></div>
          <div class="video video8"></div>
          <div class="video video9"></div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
            <nav>
                <div class="footer-nav-section">
                  <h6>Explore</h6>
                  <ul>
                    <li><a href="/about-us/">About Us</a></li>
                    <li><a href="/super-simple-songs/all-songs/">Super Simple Songs</a></li>
                    <li><a href="/free-teaching-resources/">Free Resources</a></li>
                    <li><a href="/live/">Super Simple Live</a></li>
                    <li><a href="/blog/">Blog</a></li>
                  </ul>
                </div>
                <div class="footer-nav-section">
                  <h6>Watch</h6>
                  <ul>
                    <li><a href="/ad-free/">Watch Ad-free</a></li>
                    <li><a href="https://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Dinstant-video&amp;field-keywords=%22Super+Simple%22&amp;rh=n%3A2858778011%2Ck%3A%22Super+Simple%22" target="_blank">Amazon</a></li>
                    <li><a href="https://www.youtube.com/supersimpleonline" target="_blank">YouTube</a></li>
                    <li><a href="https://www.curiousworld.com" target="_blank">Curious World</a></li>
                    <li><a href="https://www.hopster.tv/shows/super-simple-songs/" target="_blank">Hopster</a></li>
                  </ul>
                </div>
                <div class="footer-nav-section">
                  <h6>Listen</h6>
                  <ul>
                    <li><a href="https://itunes.apple.com/ca/artist/super-simple-learning/id429247660" target="_blank">Apple Music</a></li>
                    <li><a href="https://play.spotify.com/artist/5eITLKT6HkkmaZvG882VEv?play=true&amp;utm_source=open.spotify.com&amp;utm_medium=open" target="_blank">Spotify</a></li>
                    <li><a href="http://us.napster.com/artist/super-simple-songs" target="_blank">Napster</a></li>
                    <li><a href="http://www.deezer.com/artist/9682672" target="_blank">Deezer</a></li>
                  </ul>
                </div>
                <div class="footer-nav-section">
                  <h6>Shop</h6>
                  <ul>
                    <li><a href="https://shop.supersimplelearning.com/">Super Simple Store</a></li>
                    <li><a href="https://itunes.apple.com/us/artist/super-simple-songs/id1220065281" target="_blank">iTunes</a></li>
                    <li><a href="https://play.google.com/store/music/artist/Super_Simple_Songs?id=Aunvzank3aka53xd4pnaueha4um" target="_blank">Google Play</a></li>
                    <li><a href="https://bamazoo.com/supersimple" target="_blank">Bamazoo</a></li>
                    <li><a href="http://www.songsforteaching.com/store/super-simple-songs-c-427.html" target="_blank">Songs For Teaching</a></li>
                  </ul>
                </div>
                <div class="footer-nav-section">
                  <h6>Contact</h6>
                  <ul>
                    <li><a href="/contact/">Contact Us</a></li>
                    <li><a href="http://supersimple.helpscoutdocs.com/" target="_blank">Support</a>
                    </li><li><a href="https://skyship.tv/contact/" target="_blank">Licensing &amp; Distribution</a>
                    </li><li><a href="https://skyship.tv/work-with-us/" target="_blank">Work With Us</a></li>
                    <li><a href="https://supersimple.refersion.com" target="_blank">Become An Affiliate</a></li>
                  </ul>
                </div>
                <div class="footer-nav-section">
                  <h6>Follow</h6>
                  <ul>
                    <li><a href="https://facebook.com/supersimpleofficial/" target="_blank">Facebook</a></li>
                    <li><a href="http://instagram.com/supersimpleofficial" target="_blank">Instagram</a></li>
                    <li><a href="http://pinterest.com/simplesongs/" target="_blank">Pinterest</a></li>
                    <li><a href="http://twitter.com/simplesongs/" target="_blank">Twitter</a></li>
                  </ul>
                </div>
              </nav>
        </div>
      </div>
    </div>
  </footer>


  <!-- Librería Jquery enlazada -->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <!-- Archivo Jquery de bootstrap enlazado -->
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <!-- Archivo JS enlazado-->
  <script src="../js/home.js"></script>
</body>

</html>