<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MovieKids</title>
  <!-- Logo en browser tab -->
  <link rel="shortcut icon" href="../assets/img/tab-logo.png">
  <!-- Framework Materialize enlazado -->
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <!-- link de los iconos -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Hoja de estilo CSS enlazada -->
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>

  <!-- navbar -->
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">
        <img src="../assets/img/logo.png" alt="logo-nav">
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a href="#">Peliculas</a>
        </li>
        <li>
          <a href="#">Series</a>
        </li>
        <li>
          <a href="#">Recomendaciones</a>
        </li>
        <li>
          <a class="waves-effect waves-light btn">Ingresar</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <a href="#">Peliculas</a>
        </li>
        <li>
          <a href="#">Series</a>
        </li>
        <li>
          <a href="#">Recomendaciones</a>
        </li>
        <!-- lograr que aparezca el boton de log in -->
        <li>
          <a class="waves-effect waves-light btn">Ingresar</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- section-carousel -->
  <section>
    <div class="carousel carousel-slider center" data-indicators="true">
      <div class="carousel-item red white-text" href="#one!">
        <h2>First Panel</h2>
        <p>This is your first panel</p>
      </div>
      <div class="carousel-item amber white-text" href="#two!">
        <h2>Second Panel</h2>
        <p>This is your second panel</p>
      </div>
      <div class="carousel-item green white-text" href="#three!">
        <h2>Third Panel</h2>
        <p>This is your third panel</p>
      </div>
      <div class="carousel-item blue white-text" href="#four!">
        <h2>Fourth Panel</h2>
        <p>This is your fourth panel</p>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col s12 l12 offset-l1">Los más vistos</div>
      </div>
      <div class="row">
        <div class="col s12 l3">
          <figure>
            <img src="../assets/img/home.png" alt="" class="img-responsive">
            <img src="../assets/img/home.png" alt="" class="img-responsive">
            <img src="../assets/img/home.png" alt="" class="img-responsive">
            <img src="../assets/img/home.png" alt="" class="img-responsive">
            <img src="../assets/img/home.png" alt="" class="img-responsive">
            <img src="../assets/img/home.png" alt="" class="img-responsive">
          </figure>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="row">
      <div class="col">
        <ul>
          <h3>Conócenos</h3>
          <li>
            <a href="">Sobre Nosotros</a>
          </li>
          <li>
            <a href="">Movie Kids</a>
          </li>
          <li>
            <a href="">Misión</a>
          </li>
        </ul>
        <div></div>
      </div>
    </div>
  </footer>

  <!-- Librería Jquery enlazada -->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <!-- Archivo Jquery de Materialize enlazado -->
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <!-- Archivo JS enlazado-->
  <script src="../js/app.js"></script>
</body>

</html>