<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MovieKids</title>
  <!-- Logo en browser tab -->
  <link rel="shortcut icon" href="../assets/img/tab-logo.png">
  <!-- Framework bootstrap enlazado -->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <!-- link de los iconos -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Hoja de estilo CSS enlazada -->
  <link rel="stylesheet" href="../css/home.css">
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="logo"><img src="../assets/img/logo.png"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
                      <li class="active"><a href="#">Home</a>
            </li>
                  </ul>
        </div>
      </div>

  <!-- Librería Jquery enlazada -->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <!-- Archivo Jquery de bootstrap enlazado -->
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <!-- Archivo JS enlazado-->
  <script src="../js/home.js"></script>
</body>

</html>
