<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MovieKids</title>
  <!-- Logo en browser tab -->
  <link rel="shortcut icon" href="../assets/img/tab-logo.png">
  <!-- Framework Bootstrap enlazado -->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <!-- Hoja de estilo CSS enlazada -->
  <link rel="stylesheet" href="../css/signup.css">
</head>

<body>

  <!-- Formulario de registro -->
  <div class="container login-container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <form role="form">
          <div class="logo-container">
            <img class="img-responsive center-block" src="../assets/img/logo.png" alt="logo">
          </div>
          <hr class="colorgraph">
          <div class="form-group">
            <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Correo Electrónico" tabindex="3">
          </div>
          <div class="form-group">
            <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Contraseña" tabindex="4">
          </div>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-md-offset-3 col-md-6 col-md-offset-3">
              <a href="#" class="btn btn-success btn-block btn-lg">Iniciar Sesión</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Librería Jquery enlazada -->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <!-- Archivo Jquery de Bootstrap enlazado -->
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <!-- Firebase-->
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-storage.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
  <script src="../vendors/js/firebaseapp.js"></script>
  <!-- Archivo JS enlazado-->
  <script src="../js/signup.js"></script>
</body>

</html>