<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MovieKids</title>
  <!-- Logo en browser tab -->
  <link rel="shortcut icon" href="../assets/img/tab-logo.png">
  <!-- cdn de fontawesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Framework Bootstrap enlazado -->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <!-- Hoja de estilo CSS enlazada -->
  <link rel="stylesheet" href="../css/movie-info.css">
</head>

<body>
  <!-- header -->
  <header id="header" class="bar-lightblue">
    <div id="inner-header" class="group">
      <p id="logo" class="h1">
        <a href="#" rel="nofollow">
          <img src="../assets/img/logo.png" width="100">
        </a>
      </p>
      <!-- <div class="nav-icon">
        <div class="c-hamburger c-hamburger--htx">
          <span>MENU</span>
        </div> -->

      <nav class="mainNav">
        <ul id="menu-top-tabs" class="nav top-nav group">
          <li class="menu">
            <a href="#">
              <i class="fa fa-film" aria-hidden="true" style="color:darkviolet"></i>Películas</a>
          </li>
          <li class="menu">
            <a href="#">
              <i class="fa fa-television" aria-hidden="true" style="color:royalblue"></i>Series</a>
          </li>
          <li class="menu">
            <a href="#">
              <i class="fa fa-star" aria-hidden="true" style="color:red"></i>Estrenos</a>
          </li>
          <li class="menu">
            <a href="#">
              <i class="fa fa-pencil" aria-hidden="true" style="color:darkorange"></i>Recomendaciones</a>
          </li>
          <li>
            <form role="search" method="get" id="searchform" class="searchform" action="#">
              <div>
                <input type="search" id="s" name="s" value="" placeholder="Search">
              </div>
            </form>
          </li>
          <li class="menu">
            <button type="button" class="btn btn-primary btn-sm inicio" style="background-color:lightseagreen">Cerrar Sesión</button>
          </li>
          <!-- <li class="menu">
            <button type="button" class="btn btn-primary btn-sm" style="background-color:blueviolet">Únete</button>
          </li> -->
          <li>
            <a href="#" class="fb" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true" style="color:steelblue"></i>
            </a>
          </li>
          <li>
            <a href="#" class="twitter" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true" style="color:deepskyblue"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="content">
    <div class="search_results movie ">
      <h2 id="movie_results">Buscar
        <span class="glyphicons glyphicons-chevron-right x1 breadcrumb"></span> Resultados de Películas</h2>
      <div class="results flex">
        <div class="item poster card">
          <div class="image_content">
            <!-- id -->
            <a id="movie_211672" data-id="51fc398b19c29508da05ecc5" data-media-type="movie" class="result" href="/movie/211672" title="Los Minions"
              alt="Los Minions">
              <!-- poster -->
              <img class="poster fade lazyautosizes lazyloaded" data-sizes="auto" data-src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/qC6UZX9Jc7DVyN5lFFDPvJBclHM.jpg"
                data-srcset="https://image.tmdb.org/t/p/w185_and_h278_bestv2/qC6UZX9Jc7DVyN5lFFDPvJBclHM.jpg 1x, https://image.tmdb.org/t/p/w370_and_h556_bestv2/qC6UZX9Jc7DVyN5lFFDPvJBclHM.jpg 2x"
                alt="Los Minions" sizes="95px" srcset="https://image.tmdb.org/t/p/w185_and_h278_bestv2/qC6UZX9Jc7DVyN5lFFDPvJBclHM.jpg 1x, https://image.tmdb.org/t/p/w370_and_h556_bestv2/qC6UZX9Jc7DVyN5lFFDPvJBclHM.jpg 2x"
                src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/qC6UZX9Jc7DVyN5lFFDPvJBclHM.jpg">
              <div class="meta" data-role="tooltip">
                <span id="popularity_51fc398b19c29508da05ecc5_value" class="hide popularity_rank_value">
                  <div class="tooltip_popup popularity">
                    <h3>Ranking de Popularidad</h3>
                    <p>Hoy: 9</p>
                    <p>Semana Pasada: 8</p>
                  </div>
                </span>
                <span id="popularity_51fc398b19c29508da05ecc5" class="glyphicons glyphicons-cardio x1 popularity_rank"></span>
                <span class="right">

                  <span id="favourite_51fc398b19c29508da05ecc5" class="glyphicons glyphicons-heart x1 favourite list_action" data-media-type="movie"></span>
                  <span id="watchlist_51fc398b19c29508da05ecc5" class="glyphicons glyphicons-bookmark x1 watchlist list_action" data-media-type="movie"></span>

                </span>
              </div>
            </a>
          </div>
          <div class="info">
            <p class="flex">
              <a id="movie_211672" data-id="51fc398b19c29508da05ecc5" data-media-type="movie" class="title result" href="/movie/211672"
                title="Los Minions" alt="Los Minions">Los Minions</a>
              <span class="vote_average">6.4
                <span id="rating_51fc398b19c29508da05ecc5" class="glyphicons glyphicons-star x1 rating movie"></span>
              </span>
            </p>
            <p class="meta flex">
              <span class="release_date">
                <span class="glyphicons glyphicons-calendar x1"></span> 17/06/2015</span>
              <span class="genres">Aventura, Animación, Comedia, Familia</span>
            </p>
            <p class="overview">La historia de Los Minions se remonta al principio de los tiempos. Empezaron siendo organismos amarillos unicelulares
              que evolucionaron a través del tiempo, poni…</p>
            <p class="view_more">
              <a id="movie_211672" data-id="51fc398b19c29508da05ecc5" data-media-type="movie" class="result" href="/movie/211672" title="Los Minions"
                alt="Los Minions">Más Información</a>
            </p>
          </div>
        </div>

        <div class="item poster card">
          <div class="image_content">
            <a id="movie_286558" data-id="53eb2488c3a3686897000aca" data-media-type="movie" class="result" href="/movie/286558" title="Gru, mi villano favorito presenta: La locura de los minions"
              alt="Gru, mi villano favorito presenta: La locura de los minions">



              <img class="poster fade lazyautosizes lazyloaded" data-sizes="auto" data-src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/jA1SbD4qty5rtrEB62EJU6ialCQ.jpg"
                data-srcset="https://image.tmdb.org/t/p/w185_and_h278_bestv2/jA1SbD4qty5rtrEB62EJU6ialCQ.jpg 1x, https://image.tmdb.org/t/p/w370_and_h556_bestv2/jA1SbD4qty5rtrEB62EJU6ialCQ.jpg 2x"
                alt="Gru, mi villano favorito presenta: La locura de los minions" sizes="184px" srcset="https://image.tmdb.org/t/p/w185_and_h278_bestv2/jA1SbD4qty5rtrEB62EJU6ialCQ.jpg 1x, https://image.tmdb.org/t/p/w370_and_h556_bestv2/jA1SbD4qty5rtrEB62EJU6ialCQ.jpg 2x"
                src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/jA1SbD4qty5rtrEB62EJU6ialCQ.jpg">




              <div class="meta" data-role="tooltip">
                <span id="popularity_53eb2488c3a3686897000aca_value" class="hide popularity_rank_value">
                  <div class="tooltip_popup popularity">
                    <h3>Ranking de Popularidad</h3>
                    <p>Hoy: 8581</p>
                    <p>Semana Pasada: 9302</p>
                  </div>
                </span>
                <span id="popularity_53eb2488c3a3686897000aca" class="glyphicons glyphicons-cardio x1 popularity_rank"></span>
                <span class="right">

                  <span id="favourite_53eb2488c3a3686897000aca" class="glyphicons glyphicons-heart x1 favourite list_action" data-media-type="movie"></span>
                  <span id="watchlist_53eb2488c3a3686897000aca" class="glyphicons glyphicons-bookmark x1 watchlist list_action" data-media-type="movie"></span>

                </span>
              </div>
            </a>
          </div>
          <div class="info">
            <p class="flex">
              <a id="movie_286558" data-id="53eb2488c3a3686897000aca" data-media-type="movie" class="title result" href="/movie/286558"
                title="Gru, mi villano favorito presenta: La locura de los minions" alt="Gru, mi villano favorito presenta: La locura de los minions">Gru, mi villano favorito presenta: La locura de los minions</a>
              <span class="vote_average">6.9
                <span id="rating_53eb2488c3a3686897000aca" class="glyphicons glyphicons-star x1 rating movie"></span>
              </span>
            </p>
            <p class="meta flex">
              <span class="release_date">
                <span class="glyphicons glyphicons-calendar x1"></span> 15/12/2010</span>
              <span class="genres">Aventura, Animación, Comedia, Familia</span>
            </p>
            <p class="overview">Vuelve a visitar "el mayor villano del mundo" y su malicioso equipo en Mi villano favorito presenta: la locura
              de los minions. Inéditas en los cines, estas tres…</p>
            <p class="view_more">
              <a id="movie_286558" data-id="53eb2488c3a3686897000aca" data-media-type="movie" class="result" href="/movie/286558" title="Gru, mi villano favorito presenta: La locura de los minions"
                alt="Gru, mi villano favorito presenta: La locura de los minions">Más Información</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- section  Movie details-->
  <!-- <h1 class="text-center">Movie Details</h1>
  <br>
  <section class="section-movie-details">
    <div class="row marketing"> -->
  <!-- Imagen de pelicula-->
  <!-- <div class="col-sm-3 col-lg-6" id="image-movie"> -->
  <!--<img src="http://farm9.staticflickr.com/8083/8430638774_f7a7e83b7f_n.jpg" alt="sticky bun flickr.com" class="img-responsive img-rounded center-block">-->
  <!-- </div> -->
  <!-- Informacion de pelicula -->
  <!-- <div class="col-sm-3 col-lg-6" id="details-movie"> -->
  <!--<h3>Subheading</h3>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Etiam leo neque, hendrerit et magna ut, viverra consectetur augue.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>-->
  <!-- </div>
    </div>
  </section> -->
  <!--end section Movie details-->
  <!-- <br>
  <br> -->
  <!--section Movie Comments-->
  <section class="section-comments">
    <div class="container">
      <div class="row">
        <div class='col-md-offset-2 col-md-8 text-center'>
          <h2>Comments</h2>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-offset-2 col-md-8'>
          <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#quote-carousel" data-slide-to="1"></li>
              <li data-target="#quote-carousel" data-slide-to="2"></li>
            </ol>

            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner">
              <!-- Quote 1 -->
              <div class="item active">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-3 text-center">
                      <img class="img-circle" src="http://www.reactiongifs.com/r/overbite.gif" style="width: 100px;height:100px;">
                    </div>
                    <div class="col-sm-9">
                      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                      <span>Someone famous</span>
                    </div>
                  </div>
                </blockquote>
              </div>
              <!-- Quote 2 -->
              <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-3 text-center">
                      <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg" style="width: 100px;height:100px;">
                    </div>
                    <div class="col-sm-9">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                      <span>Someone famous</span>
                    </div>
                  </div>
                </blockquote>
              </div>
              <!-- Quote 3 -->
              <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-3 text-center">
                      <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/keizgoesboom/128.jpg" style="width: 100px;height:100px;">
                    </div>
                    <div class="col-sm-9">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium
                        nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                      <span>Someone famous</span>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>

            <!-- Carousel Buttons Next/Prev -->
            <a data-slide="prev" href="#quote-carousel" class="left carousel-control">
              <i class="fa fa-chevron-left"></i>
            </a>
            <a data-slide="next" href="#quote-carousel" class="right carousel-control">
              <i class="fa fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <nav class="containernav">
            <div class="footer-nav-section">
              <h6>Explora</h6>
              <ul>
                <li>
                  <a href="#">Sobre Nosotros</a>
                </li>
                <li>
                  <a href="#">Movie Kids</a>
                </li>
                <li>
                  <a href="#">Free Resources</a>
                </li>
                <li>
                  <a href="#">Películas en vivo</a>
                </li>
                <li>
                  <a href="#">Blog</a>
                </li>
              </ul>
            </div>
            <div class="footer-nav-section">
              <h6>Participa</h6>
              <ul>
                <li>
                  <a href="#">Comentarios</a>
                </li>
                <li>
                  <a href="#">Valoraciones</a>
                </li>
                <li>
                  <a href="#" target="_blank">Medallas</a>
                </li>
                <li>
                  <a href="#" target="_blank">Me gusta</a>
                </li>
                <li>
                  <a href="#" target="_blank">Favoritos</a>
                </li>
              </ul>
            </div>
            <div class="footer-nav-section">
              <h6>Contacto</h6>
              <ul>
                <li>
                  <a href="/contact/">Contáctanos</a>
                </li>
                <li>
                  <a href="#" target="_blank">Soporte</a>
                </li>
                <li>
                  <a href="#" target="_blank">Licencia &amp; Distribución</a>
                </li>
                <li>
                  <a href="#" target="_blank">Trabaja con Nosotros</a>
                </li>
              </ul>
            </div>
            <div class="footer-nav-section">
              <h6>Síguenos</h6>
              <ul>
                <li>
                  <a href="#" target="_blank">Facebook</a>
                </li>
                <li>
                  <a href="#" target="_blank">Instagram</a>
                </li>
                <li>
                  <a href="#" target="_blank">Pinterest</a>
                </li>
                <li>
                  <a href="#" target="_blank">Twitter</a>
                </li>
              </ul>
            </div>
            <div class="footer-nav-section">
              <img src="../assets/img/logoblanco.png" alt="">
            </div>
          </nav>
        </div>
      </div>
    </div>
  </footer>

  <!-- Librería Jquery enlazada -->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <!-- Archivo Jquery de Bootstrap enlazado -->
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <!-- Firebase-->
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-storage.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
  <script src="../vendors/js/firebaseapp.js"></script>
  <!-- Archivo JS enlazado-->
  <script src="../js/movie-info.js"></script>
</body>

</html>