<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MovieKids</title>
  <!-- Logo en browser tab -->
  <link rel="shortcut icon" href="../assets/img/tab-logo.png">
  <!-- cdn de fontawesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Framework Bootstrap enlazado -->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <!-- Hoja de estilo CSS enlazada -->
  <link rel="stylesheet" href="../css/movie-info.css">
</head>

<body>
  <!-- header -->
  <header id="header" class="bar-lightblue">
    <div id="inner-header" class="group">
      <p id="logo" class="h1">
        <a href="#" rel="nofollow">
          <img src="../assets/img/logo.png" width="100">
        </a>
      </p>
      <!-- <div class="nav-icon">
        <div class="c-hamburger c-hamburger--htx">
          <span>MENU</span>
        </div> -->

      <nav class="mainNav">
        <ul id="menu-top-tabs" class="nav top-nav group">
          <li class="menu">
            <a href="#">
              <i class="fa fa-film" aria-hidden="true" style="color:darkviolet"></i>Películas</a>
          </li>
          <li class="menu">
            <a href="#">
              <i class="fa fa-television" aria-hidden="true" style="color:royalblue"></i>Series</a>
          </li>
          <li class="menu">
            <a href="#">
              <i class="fa fa-star" aria-hidden="true" style="color:red"></i>Estrenos</a>
          </li>
          <li class="menu">
            <a href="#">
              <i class="fa fa-pencil" aria-hidden="true" style="color:darkorange"></i>Recomendaciones</a>
          </li>
          <li>
            <form role="search" method="get" id="searchform" class="searchform" action="#">
              <div>
                <input type="search" id="s" name="s" value="" placeholder="Search">
              </div>
            </form>
          </li>
          <li class="menu">
            <button type="button" class="btn btn-primary btn-sm inicio" style="background-color:lightseagreen">Inicia Sesión</button>
          </li>
          <li class="menu">
            <button type="button" class="btn btn-primary btn-sm" style="background-color:blueviolet">Únete</button>
          </li>
          <li>
            <a href="#" class="fb" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true" style="color:steelblue"></i>
            </a>
          </li>
          <li>
            <a href="#" class="twitter" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true" style="color:deepskyblue"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- section  Movie details-->
  <h1 class="text-center">Movie Details</h1>
  <br>
  <section class="section-movie-details">
    <div class="row marketing">
        <!-- Imagen de pelicula-->
        <div class="col-sm-3 col-lg-6" id="image-movie">
          <!--<img src="http://farm9.staticflickr.com/8083/8430638774_f7a7e83b7f_n.jpg" alt="sticky bun flickr.com" class="img-responsive img-rounded center-block">-->
        </div>
        <!-- Informacion de pelicula -->
        <div class="col-sm-3 col-lg-6" id="details-movie">
          <!--<h3>Subheading</h3>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Etiam leo neque, hendrerit et magna ut, viverra consectetur augue.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>-->
        </div>
    </div>
  </section>
  <!--end section Movie details-->
  <br>
  <br>
  <!--section Movie Comments-->
  <section class="section-comments">
    <div class="container">
      <div class="row">
        <div class='col-md-offset-2 col-md-8 text-center'>
        <h2>Comments</h2>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-offset-2 col-md-8'>
          <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#quote-carousel" data-slide-to="1"></li>
              <li data-target="#quote-carousel" data-slide-to="2"></li>
            </ol>

            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner">
              <!-- Quote 1 -->
              <div class="item active">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-3 text-center">
                      <img class="img-circle" src="http://www.reactiongifs.com/r/overbite.gif" style="width: 100px;height:100px;">
                    </div>
                    <div class="col-sm-9">
                      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                      <span>Someone famous</span>
                    </div>
                  </div>
                </blockquote>
              </div>
              <!-- Quote 2 -->
              <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-3 text-center">
                      <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg" style="width: 100px;height:100px;">
                    </div>
                    <div class="col-sm-9">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                      <span>Someone famous</span>
                    </div>
                  </div>
                </blockquote>
              </div>
              <!-- Quote 3 -->
              <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-3 text-center">
                      <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/keizgoesboom/128.jpg" style="width: 100px;height:100px;">
                    </div>
                    <div class="col-sm-9">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                      <span>Someone famous</span>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>

            <!-- Carousel Buttons Next/Prev -->
            <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
            <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <br>
  <br>

  <!-- footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
            <nav class="containernav">
                <div class="footer-nav-section">
                  <h6>Explora</h6>
                  <ul>
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="#">Movie Kids</a></li>
                    <li><a href="#">Free Resources</a></li>
                    <li><a href="#">Películas en vivo</a></li>
                    <li><a href="#">Blog</a></li>
                  </ul>
                </div>
                <div class="footer-nav-section">
                  <h6>Participa</h6>
                  <ul>
                    <li><a href="#">Comentarios</a></li>
                    <li><a href="#">Valoraciones</a></li>
                    <li><a href="#" target="_blank">Medallas</a></li>
                    <li><a href="#" target="_blank">Me gusta</a></li>
                    <li><a href="#" target="_blank">Favoritos</a></li>
                  </ul>
                </div> 
                <div class="footer-nav-section">
                  <h6>Contacto</h6>
                  <ul>
                    <li><a href="/contact/">Contáctanos</a></li>
                    <li><a href="#" target="_blank">Soporte</a></li>
                    <li><a href="#" target="_blank">Licencia &amp; Distribución</a></li>
                    <li><a href="#" target="_blank">Trabaja con Nosotros</a></li>
                  </ul>
                </div>
                <div class="footer-nav-section">
                  <h6>Síguenos</h6>
                  <ul>
                    <li><a href="#" target="_blank">Facebook</a></li>
                    <li><a href="#" target="_blank">Instagram</a></li>
                    <li><a href="#" target="_blank">Pinterest</a></li>
                    <li><a href="#" target="_blank">Twitter</a></li>
                  </ul>
                </div>
                <div class="footer-nav-section">
                  <img src="../assets/img/logoblanco.png" alt="">
                </div>
              </nav>
        </div>
      </div>
    </div>
  </footer>

  <!-- Librería Jquery enlazada -->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <!-- Archivo Jquery de Bootstrap enlazado -->
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <!-- Archivo JS enlazado-->
  <script src="../js/movie-info.js"></script>
</body>

</html>
