<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MovieKids</title>
  <!-- Logo en browser tab -->
  <link rel="shortcut icon" href="../assets/img/tab-logo.png">
  <!-- Framework Bootstrap enlazado -->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <!--Social-->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap-social.css">
  <!-- Iconos -->
  <script src="https://use.fontawesome.com/99316d922f.js"></script>
  <!-- Hoja de estilo CSS enlazada -->
  <link rel="stylesheet" href="../css/signup.css">
</head>

<body>

  <!-- Formulario de registro -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <form role="form">
          <div class="logo-container">
            <img class="img-responsive center-block" src="../assets/img/logo.png" alt="logo">
          </div>
          <h2 class="text-center">¡Bienvenido!</h2>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="Nombre" tabindex="1">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Apellido" tabindex="2">
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Correo Electrónico" tabindex="3">
          </div>
          <div class="form-group">
            <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Contraseña (mínimo 6 dígitos)"
              tabindex="4">
          </div>
          <div class="form-group">
            <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirmar Contraseña"
              tabindex="5">
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <span class="button-checkbox">
                <button type="button" class="btn" data-color="info" tabindex="6">Acepto los términos y condiciones</button>
                <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
              </span>
            </div>
          </div>

          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <input type="submit" value="Crear Cuenta" class="btn btn-primary btn-block btn-lg" tabindex="7">
            </div>
            <!-- <div class="col-xs-12 col-md-6">
              <a href="login.html" class="btn btn-success btn-block btn-lg">Iniciar Sesión</a>
            </div> -->
          </div>
        </form>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <ul>
            <li>
              <a class="btn btn-block btn-social btn-twitter">
                <span class="fa fa-twitter"></span> Sign in with Twitter
              </a>
            </li>
            <li>
              <a class="btn btn-block btn-social btn-facebook">
                <span class="fa fa-facebook"></span> Sign in with Twitter   
              </a>
            </li>
            <li>
                <a class="btn btn-block btn-social btn-google">
                  <span class="fa fa-google"></span> Sign in with Google
                </a>
              </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- /.modal -->
  </div>


  <!-- Librería Jquery enlazada -->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <!-- Archivo Jquery de Bootstrap enlazado -->
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <!-- Archivo JS enlazado-->
  <script src="../js/signup.js"></script>
</body>

</html>